/* media querries below */


@media screen and (min-width: 360px) and (max-width: 767px) {

    #skill{
        position: absolute;
        top: 0px;
        left: 50%;
        bottom: 50px;
    }
    #me{
        position: absolute;
        top: 0px;
        left: 0px; 
    }

    #pro{
        position: absolute;
        top: 0px;
        right: 0px;

    }
    .row{
        position: absolute;
        left: 0px;
        top:100px;
        
    }
    
    body {
        background-image:url("../img/bina.jpg");
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-size:cover;
        
    }
}
@media screen and (min-width: 768px) {
    body {
        background-image:url("../img/bina.jpg");
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-size:cover;
        
    }

    .logo{
        position: center;
        left: 0px;
        top: 20px;
        font-size: 35px;
    }
  .column {
    width: 220px;
    float: left;
    padding: 15px;
  }
}




/* css styles below */
.kys{
    font-size: 110px;
}

body{
    margin-bottom: -10px;
}
#title{
    height: 100vh;
    background-image: url("../img/bina.jpg"); 
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size:cover;
    background-color: rgba(0,0,0,0.7);
    
   
}
.img{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);   

}
.me{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%); 
    font-size: 30px;  
    
}

.links{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%) translateY(-50%);  
    list-style: none;
    
}
.opt{
    list-style: none;
    float: left;
    padding: 50px;
   
 
}
.next{
    position: absolute;
    left: 50%;
    top: 90%
    
  
}
#about{
    height: 100vh;
    background-color: #02182b;
    display: none;
    
}
#skills{
    height: 100vh;
    background-color: #02182b;
    display: none;
    
}
#project{
    height: 100vh;
    background-color:  #02182b;
    display: none;
    
}
#contact{
    height: 100vh;
    background-color: gainsboro;
    display: none;
    
}
h1{
    font-family: 'Acme', sans-serif;
    color: whitesmoke
   
}

h2{ 
    display: none;
    font-family: 'Acme', sans-serif;
    color: whitesmoke
  
}
.prev{
    position: absolute;
    left: 50%;
    margin-top: 10px;
  
}
.tooltiptext1{
    visibility: hidden;
    font-family: 'Pridi', serif;
    width: 120px;
    background-color: #1f1112;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; 
    position: absolute;
    z-index: 1;
    border: 1px solid white;
    padding: 5px;
}
li:hover .tooltiptext1{
    visibility: visible;
}
ul .nav navbar-nav{
    margin-left: 100px;
}
#name{
    margin-top: 50px;
    text-align: center;
}
hr{
    width: 50px;
}
#this{
   width: 300px;
  
}
p{
    color: whitesmoke;
    font-size: 20px;
}
#tellme{
    width: 80%;
    margin-top: -45px;
}

i{
    font-size: 70px;
    color: whitesmoke;
}
.egs{
    color: black;
    font-family: 'Arvo', serif;
}
.egsz{
    color: black;
    font-size: 16px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Karla', sans-serif;
}
img{
    width: 100%;
    height: 70%;
    transition: all 0.3s ease 0s;
   
}
.well{
    padding: 0;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
    height: 450px;
    transition: all 0.3s ease 0s;
}
.rojec{
    /* height: 70%; */
    background-color: black;
    overflow: hidden;
}
#link{
    margin-top: 20px;
}
img:hover{
    /* transform: scale(1.2); */
    opacity: 1;
   
 }
 .well:hover{
    transition: .3s ease;
    transform: translateY(-7px);
 }
#obs{
     font-size: 14px;
 }
 ul{
     list-style-type: none;
     padding: 0%
 }

 .panel-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(2, 47, 59, 0.9);
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    border-color: #02182b;
    color: whitesmoke;
    
  
  }
  .foot{
      text-align: center;
  }
  btn-group-lg > .btn, .btn-lg{
      border-radius: 30px;
  }
 .langas{
     width: 200px;
     height: 200px;
 }
 #css{
     width: 150px;;
 }

 #git{
    font-size: 30px;
    float: right;
    position: relative;
 }
 .navbar-brand{
     background-color: #558795;
     display: block;
     margin-right: 40px;
     margin-top: 20px;
     font-family: 'Fredoka One', cursive;
     font-size: 16px;
     /* border-radius: 10%; */
     
 }
 .next1{
    background-color: #558795;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
 }
 .next2{
    background-color: #558795;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
 }
 .prev2{
    background-color: #558795;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
 }
 .navbar-brand:hover{
    background-color: #33B5E5!important;
    display: block;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    color: white;
    
}
.next1:hover{
    background-color: #33B5E5 !important;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    color: white;
 }
 .next2:hover{
    background-color: #33B5E5 !important;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    color: white;
 }
 .prev2:hover{
    background-color: #33B5E5 !important;
    margin-right: 40px;
    margin-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 16px;
    color: white;
 }
 #env{
    font-size: 30px;
    float: left;
    position: relative;
 }
 .lope{
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    font-size: 20px;
}
#env:hover .lope {
    visibility: visible;
}
.hub{
    visibility: hidden;
    width: 250px;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: -6px;
    right: 105%;
    font-size: 20px;
}
#git:hover .hub {
    visibility: visible;
}
.mimi{
    margin-top: -40px;
}
#zenye{
    margin-top: -45px;
    padding: 5px;
}
blockquote{
    color: whitesmoke;
    border-left: none;
}